apiVersion: v1
kind: ConfigMap
metadata:
  name: my-app-config
data:
  APP_ENV: production
  LOG_LEVEL: info
  database-url: "jdbc:postgresql://localhost:5432/mydatabase?user=admin&password=weakpassword"